doctype html
html
    head
        style
            include style.css
        title= title
    body
        h1= message
        form(method='POST' action='/setall')
            div.form-group

              label(for='alarm_at') alarm_at:
              input#alarm_at.form-control(type='time' name='alarm_at')

              input#alarm_on.form-control(type='checkbox' name='alarm_on')

            div.form-group
              select( name='type')
                option(value='0') -- Select --
                option(value='youtube') Youtube
                option(value='radio') Radio

            div.form-group
              label(for='tone') tone:
              input#tone.form-control(type='text', placeholder='youtube/radio link' name='tone')

            button.btn.btn-primary(type='submit') Update
